@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color:rgb(29, 185, 84);
  --background: #ffffff;
  --foreground: #171717;
  --navbar-width:100px;
  --gray-background:rgb(24, 24, 24);
  --light-gray:rgb(155, 155, 155);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif; */
}

@layer base {
  h1 {
    @apply text-6xl font-bold ; 
  }

  h2 {
    @apply text-3xl font-semibold ; 
  }

  h3 {
    @apply text-2xl font-semibold ; 
  }

  h4 {
    @apply text-xl font-semibold ; 
  }
  h5{
    @apply text-lg font-semibold ; 
  }
  p{
    @apply text-base
  }

  /* You can add more heading styles as needed */
}

input[type="text"] {
  all: unset; 
  box-sizing: border-box;
  width: 100%; 
  padding: 10px; 
  font-size: 14px; 
  height: 30px;
  background-color: #333; 
  color: white; 
  border-radius: 8px; 
  border: 1px solid #555; 
  transition: all 0.3s ease; 
}
textarea {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  
  background-color: #333;
  color: white;
  border-radius: 8px;
  border: 1px solid #555;
  transition: all 0.3s ease;
}

textarea:focus {
  outline: none;
  border: 1px solid #888;
  background-color: #444;
}

textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

textarea:hover {
  border: 1px solid #777;
}



input[type="text"] :focus {
  outline: none;
  border: 1px solid #888; 
  background-color: #444; 
}


input[type="text"] ::placeholder {
  color: #aaa; 
  font-style: italic; 
}


input[type="text"] :hover {
  border: 1px solid #777; 
}
.Toastify__toast-container {
  position: absolute;
  margin-top: 20px;
  margin:auto;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
z-index: 100;
  border-radius: 20px;
}